includes:

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    configDirectories:
        - config
    ignoreErrors:
        -
            identifiers:
                - class.notFound
                - argument.missing
            path: src/Stubs/xero-data-example.php
